html{

font-size: 16px;
font-family: 'Londrina Solid', cursive;
background-color: #aeeb7c;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #c46a15;
    text-shadow: 3px 3px 1px black;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 700px;
    margin: 0 auto;
    background-color: #dde976;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(23, 75, 26);
  }

  img {
    display: block;
    margin: 0 auto;
  }
